#root {
  text-align: center;
  align-items: center;
  background-color: #ffffff;
}

button {
  margin: 1%;
}

input {
  padding: 0.5em;
  border-radius: 4px;
  width: 400px;
  height: 100px;
  font-size: 1.5em;
}

.textBox {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5em;
}

#answerPanel {
  height: 512px;
}

#imageDisplay {
  display: left;
  border: 1px solid black;
  border-radius: 4px;
  align-self: center;
  height: 512px;
  width: 512px;
}

.float-container {
  padding: 50px;
}

.float-child {
  float: left;
  border: 2px solid black;
  width: 512px;
  display: flex;
  align-items: flex-end;
}
